body {
    display:block;
    background-color: #504242;
    color: white;
}


#main {
    text-align: center;
}
#title {
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

#buttons {
    width:auto;
    margin-top:10px;
    display:inline-flex;
    table-layout: fixed;
    color:white;
    font-size: 50px;
}
input[type="radio"]:checked + label {
    color: green;
}
#heads {
    cursor: pointer;
    margin-right: 200px;
}

#tails {
    cursor: pointer;
    margin-left:100px;
}
#flip {
    cursor: pointer;
    margin-top: 100px;
    width: 100px;
    height:50px;
}
