
body {
    display: flex;
    flex-direction: column;
    justify-content:center;
    background-color: #504242;
    color: white;
}
@media only screen and (max-width: 600px) {
    body {
        transform: scale(0.6);
        
    }

}


#main {
    text-align: center;
}

#title {
    font-size: 50px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    
}

#buttons {
    width:auto;
    display:inline-flex;
    table-layout: fixed;
    color:white;
    font-size: 50px;
}
input[type="radio"]:checked + label {
    color: green;
}
#heads {
    cursor: pointer;
    margin-right: 150px;
}

#tails {
    cursor: pointer;
}
#flip {
    cursor: pointer;
    margin-top: 100px;
    width: 100px;
    height:50px;
}
